include _utils

.item
  +title('born-to-run', 'Born to Run', 'Christopher McDougall')
  .tag.book.leisure
  p #[+link('https://www.amazon.com/Born-Run-Hidden-Superathletes-Greatest/dp/0307279189', 'Born to Run')] may be my favorite book of all time. It's a thrilling story of adventure, self-discovery, and unbelievable anthropology. A great, light read for enjoying or dreaming of the outdoors.

.item
  +title('moonwalking-with-einstein', 'Moonwalking with Einstein', 'Joshua Foer')
  .tag.book.leisure
  p #[+link('https://www.amazon.com/Moonwalking-Einstein-Science-Remembering-Everything/dp/0143120530', 'Moonwalking with Einstein: The Art and Science of Remembering Everything')] is an exciting read about a surprisingly quirky, yet relateable, topic: your own memory. Foer takes a fascinating journey into the world of elite memory competition and introduces readers to some of the techniques used turn every day people into memory superheros.

.item
  +title('complications', 'Complications', 'Atul Gawande')
  .tag.book
  p #[+link('https://www.amazon.com/Complications-Surgeons-Notes-Imperfect-Science/dp/0312421702', 'Complications: A Surgeon\'s Notes on an Imperfect Science')] is a non-fiction medical thriller and a great introduction to the realities of medicine. Gawande couples first-hand medical experiences with engaging storytelling to make this a must read. If you enjoy, also check out #[+link('https://www.amazon.com/Better-Surgeons-Performance-Atul-Gawande/dp/0312427654', 'Better: A Surgeon\'s Notes on Performance')], but not The Checklist Manifesto.

.item
  +title('the-code-book', 'The Code Book', 'Simon Singh')
  .tag.book.history
  p #[+link('https://www.amazon.com/Code-Book-Science-Secrecy-Cryptography/dp/0385495323', 'The Code Book: The Science of Secrecy from Ancient Egypt to Quantum Cryptography')] is a fabulous introduction to the world of encryption and is an enjoyable read. Cryptography is an ever present aspect of our modern lives and a curious mind will enjoy exposure to this topic.

.item
  +title('flash-boys', 'Flash Boys', 'Michael Lewis')
  .tag.book.leisure
  p #[+link('https://www.amazon.com/Flash-Boys-Wall-Street-Revolt/dp/0393351599', 'Flash Boys: A Wall Street Revolt')] is an easy read about high-frequency trading with an enjoyable storyline. It's not a financial book, rather, a story of an industry disrupted by technology. If you like it, I'd also recommend #[+link('https://www.amazon.com/Big-Short-Inside-Doomsday-Machine/dp/0393338827', 'The Big Short: Inside the Doomsday Machine')].

.item
  +title('sapiens', 'Sapiens', 'Yuval Noah Harari')
  .tag.book.history
  p #[+link('https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari/dp/0062316095', 'Sapiens: A Brief History of Humankind')] is a fascinating take on human history. Harari dissects our human identity by way of our history and introduces accessible tools and frameworks for piecing everything together. His pragmatic sense of humor and crisp language make Sapiens hard to put down.

.item
  +title('lessons-of-history', 'The Lessons of History', 'Will and Ariel Durant')
  .tag.book.history
  p #[+link('https://www.amazon.com/Lessons-History-Will-Durant/dp/143914995X', 'The Lessons of History')] is a 100 page distillation of the history and patterns of civilization.  Famed for their 11 volume "The Story of Civilization", this book offers a much condensed overview of the major patterns and themes. History humbles and teaches and this short book is in many ways the minimum effective dose.

.item
  +title('genghis-khan', 'Genghis Khan and the Making of the Modern World', 'Jack Weatherford')
  .tag.book.history
  p #[+link('https://www.amazon.com/Genghis-Khan-Making-Modern-World/dp/1491513705', 'Genghis Khan and the Making of the Modern World')] tells the untold story of one of the greatest leaders and civilization builders of history. The book reads like a historical thriller and upsets many commonly held beliefs of the Mongol Empire. Highly recommended. (A weird but scenery-painting preface for the travel-adventure lover would be the #[+link('https://www.imdb.com/title/tt10008916', 'Mongolia Special episode of the Grand Tour')].)

.item
  +title('innocent-anthropologist', 'Innocent Anthropologist', 'Nigel Barley')
  .tag.book.leisure
  p #[+link('https://www.amazon.com/Innocent-Anthropologist-Notes-Mud-Hut/dp/1906011508', 'Innocent Anthropologist: Notes from a Mud Hut')] is one of the most enjoyable books I've read as an adult. The Amazon summary accurately describes Barley's adventure with the Dowayo people as "[t]he wittiest introduction to the life of a social anthropologist ever written".

.item
  +title('peopleware', 'Peopleware', 'Tom DeMarco and Timothy Lister')
  .tag.book.entrepreneurship
  p #[+link('https://www.amazon.com/Peopleware-Productive-Projects-Tom-Demarco/dp/0932633056', 'Peopleware: Productive Projects and Teams')] is a must read for anyone working in the software industry or tech. DeMarco and Lister cut right to the core of the most prevalent managerial pitfalls and then offer sound advice for how to deal with these problems head on. I read the 1987 edition and it is quite humbling to see just how timeless this "technology" book is!obs
  +highlights
    li "The major problems of our work are not so much technological as sociological in nature. Most managers are willing to conceded the idea that they've got more people worries than technical worries. But they seldom manage that way. They manage as though technology were their principle concern. They spend their time puzzling over the most convoluted and most interesting puzzles that their people will have to solve, almost as though they themselves were going to do the work rather than manage it."
    li "Quality, far beyond that required by the end user, is a means to higher productivity." Japan is known both for quality and productivity. The secret lies in the worker's respect for their own craft.
    li "There are a million ways to lose a work day, but not even a single way to get one back."
    li "You probably don't feel that you have an uncontrollable tendency to hire attractive or 'normal' looking people... [but] you're hiring on behalf of the whole corporate ladder above you. The perceived norm of these upper managers is working on you each time you consider making a new offer."
    li "The term 'unprofessional' is often used to characterize surprising and threatening behavior. Anything that upsets the weak manager is almost by definition unprofessional."
    li "Believing that workers will automatically accept organizational goals is the sign of naive managerial optimism"
    li "Getting the system built was an arbitrary goal, but the team had accepted it. It was what they had formed around. From the time of jelling, the team itself has been the real focus for their energies. They were in it for the joint success, the pleasure of achieving the goal, any goal, together. Refocusing their attention on the company's interest in the project didn't help. It just made success seem trivial and meaningless."
    li "The purpose of a team is not goal attainment but goal alignment."
    li "The difference between a team and a clique is like the difference between a breeze and a draft." "If you find that cool current of air delightful, you call it a breeze; if you find it annoying, you call it a draft."
    li "The right to be right (in your manager's eyes or in your government's eyes) is irrelevant; it's only the right to be wrong that makes you free."
    li "Good managers provide frequent easy opportunities for the team to succeed together. The opportunities may be tiny pilot sub-projects, or demonstrations, or simulations, anything that gets the team quickly into the habit of succeeding together."

.item
  +title('foresty-forest', 'Foresty Forest')
  .tag.youtube.leisure
  p #[+link('https://www.youtube.com/user/forestyforest', 'Foresty Forest')] is a van-dwelling Youtuber with an understated but incredible knack for adventure. When wanderlust for the great outdoors strikes, I know that Foresty Forest has an adventure for me. In particular I like #[+link('https://www.youtube.com/watch?v=5aoF3gH6ym0', 'Fatbike Touring - Southwestern USA')], #[+link('https://www.youtube.com/watch?v=nc-oHL2CGSs', 'Van Life - Land of the Prospector')], and #[+link('https://www.youtube.com/watch?v=evpuTtmYXBY', 'The Skookum Van Life')]. He's also got a nice #[+link('https://www.youtube.com/watch?v=Z8CENn_WY6k', 'van tour video')].

.item
  +title('how-to-drink', 'How To Drink')
  .tag.youtube.leisure
  p #[+link('https://www.youtube.com/c/howtodrink/featured', 'How to Drink')] is a Youtube "show about making drinks and how to drink them"! Greg is entertaining and knowledgeable. I particularly like his overview videos on #[+link('https://www.youtube.com/watch?v=v4BLIoXoEgg', 'rum')] and #[+link('https://www.youtube.com/watch?v=TYIkr7MIfSM', 'whiskey')] and his #[+link('https://www.youtube.com/watch?v=di1O9mppUcE', 'painkiller')] recipe is sure to take you to paradise.

.item
  +title('elements-of-style', 'The Elements of Style', 'William Strunk Jr. and E.B. White')
  .tag.book.writing
  p #[+link('https://www.amazon.com/Elements-Style-Fourth-William-Strunk/dp/020530902X', 'The Elements of Style')] is a must read and is available #[+link('https://faculty.washington.edu/heagerty/Courses/b572/public/StrunkWhite.pdf', 'online')]. It is an incredibly short read (~30 min to read and digest) but had made a substantial and lasting impact on my writing.
    
.item
  +title('on-writing-well', 'On Writing Well', 'William Zinsser')
  .tag.book.writing
  p #[+link('https://www.amazon.com/Writing-Well-Classic-Guide-Nonfiction/dp/0060891548', 'On Writing Well: The Classic Guide to Writing Nonfiction')] is the extended version of The Elements of Style and deserves a place on every bookshelf. In an age of slack, email, and reports, effective written communication has never been more important.

.item
  +title('draft-no-4', 'Draft No. 4', 'John McPhee')
  .tag.book.writing
  p #[+link('https://www.amazon.com/Draft-No-4-Writing-Process/dp/0374142742', 'Draft No. 4')] is a quick read from a master in the art of writing. The book couples sage writing advice with entertaining personal stories from McPhee's wide-ranging career.

.item
  +title('the-bible', 'The Holy Bible')
  .tag.book
  p The #[+link('https://www.amazon.com/Holy-Bible-New-Living-Translation/dp/1414309473', 'Holy Bible')] is the most influential book of all time and is most certainly worth a read. I find the New Living Translation to be very approachable.

.item
  +title('the-memory-book', 'The Memory Book', 'Harry Lorayne and Jerry Lucas')
  .tag.book.leisure
  p #[+link('https://www.amazon.com/Memory-Book-Classic-Improving-School/dp/0345410025', 'The Memory Book: The Classic Guide to Improving Your Memory at Work, at School, and at Play')] is a collection of thoughtfully crafted systems for remembering everything from lists and sequences of numbers to playing cards and appointments. The most valuable tricks are the Link and their phonetic alphabet for remembering numbers (noted in the highlights section). The Link is simply the focused strategy of using some memorable aspect of one item to remember another. As long as items are "linked", it is very easy to remember one item given the other. Creating long chains of links allows lists and sequences to be memorized easily. The trick for remembering sequences of numbers is to convert all numbers into different consonant sounds which can then be interspersed in with vowels of your choosing to create sentences that are easy to remember. While both of these strategies can simultaneously seem so simple and also so useless, some experimentation will show that lots of creativity is required and more creativity makes them even more powerful! Enjoy seeing the world in a new whimsical light!
  +highlights
    li 1 = t or d. A small t has one downstroke.
    li 2 = n. A small n has two downstrokes.
    li 3 = m. A small m has three downstrokes.
    li 4 = r. The word four ends with an r.
    li 5 = l. The five outstretched fingers create an l.
    li 6 = j, sh, ch, soft g. A 6 and capital j are mirror images.
    li 7 = k, hard c, hard g. You can make a k with two 7s.
    li 8 = f, v, ph. An 8 and cursive f look similar.
    li 9 = p, b. A 9 and p are mirror images.
    li 0 = z, s, soft c. The first sound in the word zero is z.

.item
  +title('the-inner-game-of-tennis', 'The Inner Game of Tennis', 'W. Timothy Gallwey')
  .tag.book.leisure
  p #[+link('https://www.amazon.com/Inner-Game-Tennis-Classic-Performance/dp/0679778314', 'The Inner Game of Tennis: The Classic Guide to the Mental Side of Peak Performance')] is an unexpectedly deep book about the inner conflicts within ourselves that cause our best intentions to work against us. While specifically about understanding oneself in relation to tennis, Gallwey frequently reminds readers of the far ranging benefits of improving the relationships between Self 1, the analytical conscious self, and Self 2, the intuitive "do-er".
  +highlights
    li "To test this theory is simple... The next time your opponent is having a hot streak, simply ask him as you switch court, 'Say, George, what are you doing so differently that's making your forehand so good today?' If he takes the bait - and 95 percent will - and begins to think about how he's swinging, telling you how he''s really meeting the ball out in front, keeping his wrist firm and following through better, his streak invariably will end. He will lose his timing and fluidity as he tries to repeat what he has just told you he was doing so well."
    li "[T]he first major postulate of the Inner Game: within each player the kind of relationship that exists between Self 1 and Self 2 is the prime factor in determining one's ability to translate his knowledge of technique into effective action. In other words, the key to better tennis - or better anything - lies in improving the relationship between the conscious teller, Self1, and the natural capabilities of Self 2."
    li "As a result, what usually happens is that these self-judgments become self-fulfilling prophecies. That is, they are communications from Self 1 about Self 2 which , after being repeated often enough, become rigidified into expectations or even convictions about Self 2... In short, you start to become what you think."
    li "The first step is to see your strokes as they are."
    li "It is impossible to judge one event as positive without seeing other events as not positive or as negative. There is no way to stop just the negative side of the judgmental process. To see your strokes as they are, there is no need to attribute goodness or badness to them. The same goes for the results of your strokes."
    li "The first inner skill to be developed in the Inner Game is that of nonjudgmental awareness. When we 'unlearn' judgment we discover, usually with some surprise, that we don't need the motivation of a reformer to change our 'bad' habits. We may simple need to be more aware."
    li "[T]he native tongue of Self 2 is imagery: sensory images. Movements are learned through visual and feeling images. So the three methods of communicating I will discuss all involve sending goal-oriented messages to Self 2 by images and 'feelmages'."
    li "[T]he less fear and doubt are embedded in the instructional process, the easier it will be to take the natural steps of learning."
    li "It is much more difficult o break a habit when there is no adequate replacement for it."
    li "It is perplexing to wonder why we ever leave the here and now. Here and now are the only place and time when one ever enjoys himself or accomplishes anything. Most of our suffering takes place when we allow our minds to image the future or mull over the past."
    li "In tennis who is it that provides a person with the obstacles he needs in order to experience his highest limits? His opponent, of course! Then is your opponent a friend or an enemy? He is a friend to the extent that he does his best to make things difficult for you."
    li "A very wise person once told me, 'When it comes to overcoming obstacles, there are three kinds of people. The first kind sees most obstacles as insurmountable and walks away. The second kind sees an obstacle and says I can overcome it, and starts to dig under, climb over, or blast through it. The third type of person, before deciding to overcome the obstacle, tries to find a viewpoint where what is on the other side of the obstacle can be seen. Then, only if the reward is worth the effort, does he attempt to overcome the obstacle.'"
    li "It is helpful to realize that whereas our external goals are many and various and require the learning of many skills to achieve them, the inner obstacles come from only one source and the skills needed to overcome them remain constant. Until subdued, Self 1 is capable of producing fears, doubts and delusions wherever you are and whatever you are doing. Focus in tennis is fundamentally no different from the focus needed to perform any task or even to enjoy a symphony; learning to let go of the habit of judging yourself on the basis of your backhand is no different from forgetting the habit of judging your child or boss and learning to welcome obstacles in competition automatically increases one's ability to find advantage in all the difficulties one meets in the course of one's life. Hence, every inner gain applies immediately and automatically to the full range of ones activities. This is why it is worthwhile to pay some attention to the inner game."
