include utils

.item
  +title('infocycle', 'InfoCycle - Ford Motor Company')
  img.hero(src='/assets/infocycle.jpg')
  p
    | The InfoCycle is a fork-mounted bicycle sensor that collects information about cyclists, congestion, and road conditions which can then be used to inform other cyclists, drivers, and city planners about mobility within a city. A central goal of the project was to exclusively use off-the-shelf components and hobby-grade 3D printing in order to make the design accessible to individuals. #[a(target='_blank', href='https://media.ford.com/content/fordmedia/fna/us/en/news/2015/01/06/mobility-experiment-info-cycle-palo-alto-california.html') Press release.]