include utils

.item
  +title('born-to-run', 'Born to Run - Christopher McDougall')
  p #[+link('https://www.amazon.com/Born-Run-Hidden-Superathletes-Greatest/dp/0307279189', 'Born to Run')] may be my favorite book of all time. It's a thrilling story of adventure, self-discovery, and unbelievable anthropology. A great, light read for enjoying or dreaming of the outdoors.

.item
  +title('moonwalking-with-einstein', 'Moonwalking with Einstein - Joshua Foer')
  p #[+link('https://www.amazon.com/Moonwalking-Einstein-Science-Remembering-Everything/dp/0143120530', 'Moonwalking with Einstein: The Art and Science of Remembering Everything')] is an exciting read about a surprisingly quirky, yet relateable, topic: your own memory. Foer takes a fascinating journey into the world of elite memory competition and introduces readers to some of the techniques used turn every day people into memory superheros.

.item
  +title('complications', 'Complications - Atul Gawande')
  p #[+link('https://www.amazon.com/Complications-Surgeons-Notes-Imperfect-Science/dp/0312421702', 'Complications: A Surgeon\'s Notes on an Imperfect Science')] is a non-fiction medical thriller and a great introduction to the realities of medicine. Gawande couples first-hand medical experiences with engaging storytelling to make this a must read. If you enjoy, also check out #[+link('https://www.amazon.com/Better-Surgeons-Performance-Atul-Gawande/dp/0312427654', 'Better: A Surgeon\'s Notes on Performance')], but not The Checklist Manifesto.

.item
  +title('the-code-book', 'The Code Book - Simon Singh')
  p #[+link('https://www.amazon.com/Code-Book-Science-Secrecy-Cryptography/dp/0385495323', 'The Code Book: The Science of Secrecy from Ancient Egypt to Quantum Cryptography')] is a fabulous introduction to the world of encryption and is an enjoyable read. Cryptography is an ever present aspect of our modern lives and a curious mind will enjoy exposure to this topic.

.item
  +title('flash-boys', 'Flash Boys - Michael Lewis')
  p #[+link('https://www.amazon.com/Flash-Boys-Wall-Street-Revolt/dp/0393351599', 'Flash Boys: A Wall Street Revolt')] is an easy read about high-frequency trading with an enjoyable storyline. It's not a financial book, rather, a story of an industry disrupted by technology. If you like it, I'd also recommend #[+link('https://www.amazon.com/Big-Short-Inside-Doomsday-Machine/dp/0393338827', 'The Big Short: Inside the Doomsday Machine')].

.item
  +title('sapiens', 'Sapiens - Yuval Noah Harari')
  p #[+link('https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari/dp/0062316095', 'Sapiens: A Brief History of Humankind')] is a fascinating take on human history. Harari dissects our human identity by way of our history and introduces accessible tools and frameworks for piecing everything together. His pragmatic sense of humor and crisp language make Sapiens hard to put down.

.item
  +title('foresty-forest', 'Foresty Forest')
  p #[+link('https://www.youtube.com/user/forestyforest', 'Foresty Forest')] is a van-dwelling Youtuber with an understated but incredible knack for adventure. When wanderlust for the great outdoors strikes, I know that Foresty Forest has an adventure for me. In particular I like #[+link('https://www.youtube.com/watch?v=5aoF3gH6ym0', 'Fatbike Touring - Southwestern USA')], #[+link('https://www.youtube.com/watch?v=nc-oHL2CGSs', 'Van Life - Land of the Prospector')], and #[+link('https://www.youtube.com/watch?v=evpuTtmYXBY', 'The Skookum Van Life')]. He's also got a nice #[+link('https://www.youtube.com/watch?v=Z8CENn_WY6k', 'van tour video')].

.item
  +title('how-to-drink', 'How To Drink')
  p #[+link('https://www.youtube.com/c/howtodrink/featured', 'How to Drink')] is a Youtube "show about making drinks and how to drink them"! Greg is entertaining and knowledgeable. I particularly like his overview videos on #[+link('https://www.youtube.com/watch?v=v4BLIoXoEgg', 'rum')] and #[+link('https://www.youtube.com/watch?v=TYIkr7MIfSM', 'whiskey')] and his #[+link('https://www.youtube.com/watch?v=di1O9mppUcE', 'painkiller')] recipe is sure to take you to paradise.

.item
  +title('elements-of-style', 'The Elements of Style - William Strunk Jr. and E.B. White')
  p #[+link('https://www.amazon.com/Elements-Style-Fourth-William-Strunk/dp/020530902X', 'The Elements of Style')] is a must read and is available #[+link('https://faculty.washington.edu/heagerty/Courses/b572/public/StrunkWhite.pdf', 'online')]. It is an incredibly short read (~30 min to read and digest) but had made a substantial and lasting impact on my writing.
    
.item
  +title('on-writing-well', 'On Writing Well - William Zinsser')
  p #[+link('https://www.amazon.com/Writing-Well-Classic-Guide-Nonfiction/dp/0060891548', 'On Writing Well: The Classic Guide to Writing Nonfiction')] is the extended version of The Elements of Style and deserves a place on every bookshelf. In an age of slack, email, and reports, effective written communication has never been more important.

.item
  +title('draft-no-4', 'Draft No. 4 - John McPhee')
  p #[+link('https://www.amazon.com/Draft-No-4-Writing-Process/dp/0374142742', 'Draft No. 4')] is a quick read from a master in the art of writing. The book couples sage writing advice with entertaining personal stories from McPhee's wide-ranging career.

.item
  +title('the-bible', 'The Holy Bible')
  p The #[+link('https://www.amazon.com/Holy-Bible-New-Living-Translation/dp/1414309473', 'Holy Bible')] is the most influential book of all time and is most certainly worth a read. I find the New Living Translation to be very approachable.