include utils

.item
  +title('checklists', 'Checklists')
  p
    | We humans aren't good at remembering complete lists of things. Accept your humanity, use checklists.
  p
    | I make a new checklist any time I've realized that I've forgotten something. I just note all of the things I needed to remember and then add the list to my collection of checklists, a plain text file I keep in Dropbox. Digital is best as it is accessible everywhere and cannot be ruined by a slosh of tea.