include utils

.item
  +title('checklists', 'Checklists')
  .tag.stuff
  p We humans aren't good at remembering complete lists of things. Accept your humanity, use checklists.
  p I make a new checklist any time I've realized that I've forgotten something. I just note all of the things I needed to remember and then add the list to my collection of checklists, a plain text file I keep in Dropbox. Digital is best as it is accessible everywhere and cannot be ruined by a slosh of tea.

.item
  +title('opinel-knife', 'Opinel No. 7 Carbon Pocket Knife')
  .tag.stuff
  p The #[+link('https://www.amazon.com/Opinel-Degree7-Bechwood-Handle-Carbon/dp/B000UV4NUW', 'Opinel No. 7 Carbon')] is my favorite pocket knife. It's a beautiful, functional, and affortable item that brings me joy every time I pull it out. The carbon-steel version is my favorite and holds an incredible edge, but the stainless steel version is likely a better pick for most.

.item
  +title('video-speed-controller', 'Video Speed Controller Extension')
  .tag.stuff
  p The #[+link('https://chrome.google.com/webstore/detail/video-speed-controller/nffaoalbilbmmfgbnbgppjihopabppdk', 'Video Speed Controller')] extension for Google Chrome is an awesome productivity tool and allows fine-grained control over the playback speed of videos online. I particularly love the ability to use a single keypress to toggle between the default speed (1x) and a custom speed (3x in my case). As more and more information is only available online in video format, this is becoming more and more useful.

.item
  +title('electric-toothbrush', 'Electric Toothbrushes')
  .tag.stuff
  p Everyone should use an electric toothbrush. In 2017 I bought an #[+link('https://www.amazon.com/Oral-B-Black-Pro-1000-Rechargeable/dp/B01AKGRTUM', 'Oral-B 1000 electric toothbrush')] for ~$40 and was blown away by the difference it made. You use it every day; it's worth the investment. After the intitial purchase, I've bought the knockoff replacement heads without noticing a difference.

.item
  +title('dyson-vacuum', 'Dyson Cordless Vacuum')
  .tag.stuff
  p The Dyson Cordless Vacuum isn't a vacuum, it's a totally new type of cleaning product. A vacuum cleaner is a cumbersome appliance useful only when attempts to keep things "clean enough" have failed. The Dyson Cordless Vacuum is a satisfying eraser for household entropy.
